#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    #title-page {
        line-height: 1.2;
        margin-bottom: 5px;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }
    }

    #genres {
        display: grid;
        gap: 15px;
        width: 100%;
        grid-template-columns: 1fr;

        @media (min-width: 576px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .genre-container {
            height: 150px;
            position: relative;
            background-color: gray;
            overflow: hidden;
            border-radius: 10px;

            @media (min-width: 390px) {
                height: 200px;
                margin: 0;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: x-large;
                text-align: center;
                line-height: 1.2;
                text-transform: lowercase;
                color: white;
            }
        }
    }
}