@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;

#page-dashboard {
    padding: 10px;
    position: relative;

    h1 {
        text-align: center;
        margin-block: 1rem;
    }

    #container-table {
        display: grid;

        table {
            width: 100%;

            thead {
                display: none;
            }

            tbody {
                tr {
                    @include column;
                    border: 1px solid $gray-border;
                    border-radius: 5px;
                    background-color: $gray-bg;
                    padding: 10px;

                    td {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 200;
                        padding-block: 3px;

                        &:nth-child(1)::before {
                            content: 'ID';
                            font-weight: 400;
                        }

                        &:nth-child(2)::before {
                            content: 'Nombre';
                            font-weight: 400;
                        }

                        &:nth-child(3)::before {
                            content: 'Email';
                            font-weight: 400;
                        }

                        &:nth-child(4)::before {
                            font-weight: 400;
                            content: 'Rol';
                        }

                        &:nth-child(5)::before {
                            font-weight: 400;
                            content: 'Creación';
                        }

                        &:nth-child(6)::before {
                            font-weight: 400;
                            content: 'Actualización';
                        }
                    }

                    #btns-dashboard {
                        display: flex;
                        gap: 10px;

                        .btn-dashboard {
                            width: 100%;
                            padding: 5px;
                            margin: 0;
                            flex-direction: row;
                            gap: 5px;
                            border-radius: 5px;
                            @include center;
                            cursor: pointer;
                            font-size: 14px;
                        }

                        .btn-dashboard.delete {
                            background-color: red;

                            &:hover {
                                background-color: rgb(173, 0, 0);
                            }
                        }

                        .btn-dashboard.edit {
                            background-color: goldenrod;

                            &:hover {
                                background-color: rgb(186, 158, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

#background-modal-dashboard {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    @include center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    #modal-dashboard {
        z-index: 2;
        padding: 20px;

        #form-edit-user {
            padding: 15px;

            input,
            select {
                margin-bottom: 10px;
            }

            #header-form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .btn-close {
                    filter: invert(1);
                }
            }

            .error {
                color: red;
            }

            #btn-edit-user {
                background-color: $aqua;
                margin-top: 10px;

                &:hover {
                    background-color: $aqua-hover;
                }

                &:active {
                    background-color: $aqua-click;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page-dashboard {
        #container-table {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1024px) {
    #page-dashboard {

        #container-table {
            display: flex;
            justify-content: center;

            table {
                background-color: $gray-bg;
                border-radius: 5px;
                width: auto;
                border-collapse: collapse;
                display: table;

                thead {
                    display: table-header-group;
                }

                th,
                td {
                    padding: 12px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                }

                tbody {
                    display: table-row-group;

                    tr {
                        display: table-row;
                        border: 0;

                        td {
                            display: table-cell;
                            padding: 12px;

                            &::before {
                                display: none;
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }

    #background-modal-dashboard {
        #modal-dashboard {
            width: 40vw;
        }
    }
}