@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/components/fav-btn';

#page-album {
    @include column;
    padding: 20px;
    position: relative;

    #cover-links-album {
        flex-direction: column;
        @include center;

        img {
            width: 100%;
            margin-bottom: 15px;
            @include background;
        }

        #btns-album {
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            .fav,
            .delete-fav {
                width: 50%;
            }

            #btn-links {
                border-radius: 5px;
                border: 1px solid white;
                padding: 7px;
                flex: 1;
            }
        }

        .modal-content {
            background-color: $gray-bg;

            .btn-close {
                filter: invert(1);
            }

            .modal-header {
                padding: 10px 15px 0 15px;
                border-bottom: 0;
            }

            .modal-body {
                @include column;
                text-align: center;

                a {
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    gap: 5px;
                    border: 1px solid $gray-border;

                    display: flex;
                    margin-bottom: 8px;
                    font-weight: 400;
                    justify-content: center;
                }
            }
        }

        #container-links-album {
            display: none;
        }
    }

    #data-album {

        h2 {
            color: $gray-txt;
            font-weight: 400;
        }

        #genres-album {
            margin-top: 10px;
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            a {
                @include genres;
            }
        }

        #options-album {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-block: 5px;
            border-bottom: 1px solid $gray-border;

            button {
                width: 100%;
                text-align: center;
                padding-bottom: 4px;

                &:hover {
                    background-color: #5454547a;
                }
            }

            #btn-tracks-album {
                border-bottom: 2px solid $aqua;
            }
        }

        #tracks {
            margin-block: 0;
            height: 100%;
            overflow: hidden;
            width: 100%;
            @include background;
            padding-bottom: 0;

            #btns-discs {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 1px solid $gray-border;

                    &:hover {
                        background-color: #54545484;
                    }
                }
            }

            ol {
                counter-reset: track;
                padding-left: 0;
                display: none;

                li {
                    counter-increment: track;
                    background-color: #262626;
                    border-radius: 5px;
                    padding: 5px;
                    position: relative;
                    padding-left: 40px;
                    padding-right: 20px;
                    margin-bottom: 5px;
                    overflow: hidden;

                    &::before {
                        content: counter(track) ".";
                        position: absolute;
                        left: 15px;
                    }

                    a {
                        cursor: default;

                        p {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            .name-track {
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .track-artist {
                            color: #afafaf;
                        }
                    }
                }
            }

        }

        #video-album {
            aspect-ratio: 16/9;
            display: none;

            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }

    }

}

@media (min-width: 992px) {
    #page-album {
        padding-block: 20px;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: start;

        #cover-links-album {
            @include column;
            align-items: end;

            .fav,
            .delete-fav {
                margin-right: 0;
                margin-bottom: 10px;
            }

            img {
                margin-bottom: 0;
                height: 60vh;
                width: fit-content;
            }

            #btn-links,
            #linksModal {
                display: none;
            }

            #container-links-album {
                @include background;
                display: block;

                .links-album {
                    margin-top: 10px;

                    a {
                        color: white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        display: flex;
                        margin-bottom: 8px;
                        font-weight: 400;
                        gap: 5px;
                        border: 1px solid $gray-border;
                        justify-content: center;
                    }
                }
            }
        }

        #data-album {
            width: 50vw;
            @include background;
            padding-bottom: 0;
            height: fit-content;

            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 1.5em;
            }

            #tracks {
                border: 0;
                padding: 0;
                margin-top: 10px;
            }
        }
    }
}