@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/filters/tags';
@use '/resources/scss/components/filters/input-dates';
@use '/resources/scss/components/cards/card-album';
@use '/resources/scss/components/title-page';

#page-albums {
    display: grid;
    padding-inline: 30px;
    gap: 20px;

    #albums {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 20px;

        img {
            object-fit: cover;
        }

        .no-img {
            padding: 50px;
        }
    }

}

@media (min-width: 576px) {
    #page-albums {
        #albums {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (min-width: 768px) {
    #page-albums {
        #albums {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 992px) {
    #page-albums {
        grid-template-columns: 30% 1fr;

        #albums {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

@media (min-width: 1200px) {
    #page-albums {
        grid-template-columns: 25% 1fr;

        #albums {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}