@use '/resources/scss/abstracts/mixins';
@use '/resources/scss/components/form';
@use '/resources/scss/components/pagination';
@use '/resources/scss/components/tags';
@use '/resources/scss/components/input-dates';

#container {
    @include mixins.grid;

    @media (min-width: 992px) {
        grid-template-columns: 25% 1fr;
    }

    @media (min-width: 1410px) {
        grid-template-columns: 20% 1fr;
    }

    #albums {
        @include mixins.grid-list;

        @media (min-width: 576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        .img-container {
            aspect-ratio: 1 / 1;
            border-radius: 10px;
            @include mixins.img-container;

            img {
                width: 100%;
                border-radius: 10px;
                object-fit: cover;
                height: 100%;
            }

            .no-img {
                @include mixins.no-img
            }
        }

        .album-data {
            line-height: 1.2;

            .album-title {
                font-weight: 600;
                color: black;
                margin-top: 10px;
                font-size: 18px;
            }

            .album-artists {
                color: rgb(117, 117, 117);
                font-size: 17px;
                margin-top: 3px;
            }
        }
    }

}