@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/filters/tags';
@use '/resources/scss/components/filters/input-dates';
@use '/resources/scss/components/cards/card-album';

#container {
    display: grid;
    padding-inline: 20px;
    gap: 20px;

    @media (min-width: 992px) {
        grid-template-columns: 25% 1fr;
    }

    @media (min-width: 1410px) {
        grid-template-columns: 20% 1fr;
    }

    #albums {
        @include grid-list;

        @media (min-width: 576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        img {
            object-fit: cover;
        }

        .no-img {
            padding: 50px;
        }
    }

}