@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/fav-btn';

#page-album {
    display: flex;
    flex-direction: column;
    padding: 20px;

    #info-album {
        display: flex;
        flex-direction: column;

        .modal-content {
            background-color: #353535;

            .btn-close {
                filter: invert(1);
            }
        }

        img {
            height: 50vh;
            width: fit-content;
            align-items: center;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        #data-album {

            h2 {
                color: #afafaf;
                font-weight: 400;
            }

            #album-type {
                font-weight: 600;
            }

            #btn-links {
                background-color: $color;
                width: 100%;
                border-radius: 5px;
                color: white;
                padding-block: 4px;
                margin-bottom: 8px;
            }

            .modal-header {
                padding: 10px 15px 0 15px;
                border-bottom: 0;
            }

            .modal-body {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

        }
    }

    #tracks {
        margin-block: 15px;

        a {
            color: white;

            .track-artist {
                color: #afafaf;
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    #page-album {
        padding-block: 20px;

        #info-album {
            flex-direction: row;
            gap: 10px;
            width: 100%;
            height: 65vh;
            justify-content: center;
            align-items: start;

            img {
                border: 1px solid #545454;
                background-color: #353535;
                padding: 5px;
                height: 100%;

            }

            #data-album {
                width: 50vw;
                border: 1px solid #545454;
                background-color: #353535;
                padding: 10px;
                padding-bottom: 0;
                border-radius: 5px;
                height: fit-content;

                h1 {
                    font-size: 2em;
                }

                h2 {
                    font-size: 1.5em;
                }

                #options-album {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-block: 10px;
                    border-bottom: 1px solid #545454;

                    button {
                        width: 100%;
                        text-align: center;
                        padding-bottom: 4px;

                        &:hover {
                            background-color: #5454547a;
                        }
                    }
                }

                #tracks {
                    margin-block: 0;
                    height: 100%;
                    overflow: hidden;
                    width: 100%;

                    #btns-discs {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;

                        button {
                            padding: 5px 10px;
                            border-radius: 5px;
                            border: 1px solid #545454;

                            &:hover {
                                background-color: #54545484;
                            }
                        }
                    }

                    ol {
                        counter-reset: track;
                        padding-left: 0;
                        display: none;

                        li {
                            counter-increment: track;
                            background-color: #262626;
                            border-radius: 5px;
                            padding: 5px;
                            position: relative;
                            padding-left: 40px;
                            margin-bottom: 5px;

                            &::before {
                                content: counter(track) ".";
                                position: absolute;
                                left: 15px;
                            }
                        }
                    }

                }

                #video-album {
                    aspect-ratio: 16/9;

                    iframe {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
            }
        }

        #tracks-video-album {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            gap: 10px;
        }
    }
}