@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;
@use './title-artists';

.card-album {
    min-width: 0;
    width: 100%;

    .img-container {
        aspect-ratio: 1/1;
        display: flex;
        background-color: $gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        &:hover {
            filter: opacity(0.5)
        }

        img {
            @include img-full-border;
            object-fit: cover;
        }

        .no-img {
            width: 60px;
        }

        p {
            text-align: center;
            line-height: 1.2;
        }
    }
}