@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;

.card-artist {
    .img-container {
        aspect-ratio: 1/1;
        flex-direction: column;
        background-color: $gray;
        @include center;
        border-radius: 5px;

        &:hover {
            filter: opacity(0.5);
        }

        img {
            @include img-full-border;
            object-fit: cover;
            object-position: top;
            background-color: white;
        }

        .bi-person-fill {
            font-size: 45px;
        }

        .text-no-img {
            line-height: 1.2;
            text-align: center;
        }
    }

    .name-artist {
        font-size: 16px;
        margin-top: 3px;
        text-align: center;
        font-weight: 400;
        @include elipsis;

        &:hover {
            text-decoration: underline;
        }
    }
}