@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use './title-artists';

.card-song {
    min-width: 0;
    width: 100%;
    
    .img-container {
        aspect-ratio: 16 / 9;
        background-color: $gray;
        @include center;
        border-radius: 5px;
        flex-direction: column;
        gap: 5px;

        img {
            @include img-full-border;
            object-fit: cover;
            object-position: center;
        }

        .no-img {
            width: 50px;
            padding-top: 10px;
        }

        p {
            text-align: center;
            line-height: 1.2;
            padding-bottom: 10px;
        }
    }
}