@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;

.card-artist {
    .img-container {
        aspect-ratio: 1/1;
        flex-direction: column;
        background-color: $gray;
        @include center;
        border-radius: 5px;

        img {
            @include img-full-border;
        }

        .bi-person-fill {
            font-size: 45px;
        }

        .text-no-img {
            line-height: 1.2;
            text-align: center;
        }
    }
}