@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;

.data {
    line-height: 1.2;

    &:hover {
        text-decoration: underline;
    }

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        @include elipsis;
    }

    .artists {
        color: $gray-txt;
        font-size: 16px;
        @include elipsis;
    }
}