.data {
    line-height: 1.2;

    &:hover {
        text-decoration: underline;
    }

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .artists {
        color: rgb(172, 172, 172);
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}