.data {
    line-height: 1.2;

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
    }

    .artists {
        color: rgb(172, 172, 172);
        font-size: 16px;
    }
}