@use '../components/mixins';
@use '../components/form';
@use '../components/pagination';

#browse {
    width: 100%;

    #genres {
        @include mixins.grid-list;
        margin-top: 20px;

        @media (min-width: 576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        .genre-container {
            height: 150px;
            position: relative;
            background-color: gray;
            overflow: hidden;
            border-radius: 10px;

            @media (min-width: 390px) {
                height: 200px;
                margin: 0;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: x-large;
                text-align: center;
                line-height: 1.2;
                text-transform: lowercase;
                color: white;
            }
        }
    }
}