@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/title-page';

#page-genres {
    width: 100%;
    padding-inline: 50px;

    #genres {
        @include grid-list;
        margin-top: 20px;

        .genre-container {
            height: 150px;
            position: relative;
            background-color: var(--genre-color);
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 30%;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: x-large;
                text-align: center;
                line-height: 1.2;
                text-transform: lowercase;
                color: white;
            }
        }
    }
}

@media (min-width: 390px) {
    #page-genres {
        #genres {
            .genre-container {
                margin: 0;
            }
        }
    }
}

@media (min-width: 576px) {
    #page-genres {
        #genres {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (min-width: 768px) {
    #page-genres {
        #genres {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 992px) {
    #page-genres {
        #genres {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

@media (min-width: 1200px) {
    #title-page {
        padding-inline: 100px;
    }

    #page-genres {
        padding-inline: 100px;

        #genres {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}