@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/cards/card-song';
@use '/resources/scss/components/cards/card-artist';
@use '/resources/scss/components/cards/card-album';

.line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

#background-genre {
    background-color: var(--genre-color);
    width: 100%;
    height: 30vh;
    @include center;
    margin-bottom: 50px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 30%;
    }

    h1 {
        position: absolute;
        text-transform: capitalize;
    }
}

#page-genre {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    gap: 35px;
    padding-bottom: 30px;

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        a {
            color: white;
            background-color: $color;
            padding: 5px 10px;
            border-radius: 5px;

            &:hover {
                background-color: $color-hover;
            }

            &:active {
                background-color: $color-click;
            }
        }
    }

    #songs-genre {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #artists-genre {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .card-artist {

            p {
                text-align: center;
                padding-top: 6px;
            }

            &:nth-child(n + 7) {
                display: none;
            }
        }

    }

    #albums-genre {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;

        .no-img {
            padding: 20px;
        }
    }
}


@media (min-width: 576px) {
    #page-genre {
        padding-inline: 40px;

        #songs-genre {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        #artists-genre {
            grid-template-columns: repeat(4, minmax(0, 1fr));

            .card-artist {
                &:nth-child(n + 7) {
                    display: block;
                }

                &:nth-child(n + 9) {
                    display: none;
                }
            }
        }

        #albums-genre {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .card-album {

                &:nth-child(n + 7) {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    #page-genre {
        padding-inline: 60px;

        #songs-genre {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        #artists-genre {
            grid-template-columns: repeat(5, minmax(0, 1fr));

            .card-artist {
                &:nth-child(n + 9) {
                    display: block;
                }
            }
        }

        #albums-genre {
            grid-template-columns: repeat(4, minmax(0, 1fr));

            .card-album {

                &:nth-child(n + 7) {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page-genre {
        padding-inline: 70px;

        #songs-genre {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        #artists-genre {
            grid-template-columns: repeat(6, minmax(0, 1fr));

            .card-artist {
                &:nth-child(n + 7) {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #page-genre {
        padding-inline: 100px;

        #songs-genre {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }

        #artists-genre {
            grid-template-columns: repeat(10, minmax(0, 1fr));

            .card-artist {
                &:nth-child(n + 7) {
                    display: block;
                }
            }
        }

        #albums-genre {
            grid-template-columns: repeat(8, minmax(0, 1fr));
        }
    }
}