@use '/resources/scss/abstracts/variables' as *;

.password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;

        .alert {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 5px;
            justify-content: center;
        }

        button {
            background-color: $color;
            padding: 5px 10px;
            border-radius: 5px;

            &:hover {
                background-color: $color-hover;
            }

            &:active {
                background-color: $color-click;
            }
        }
    }
}