@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;

.password-page {
    @include center;
    flex-direction: column;
    height: calc(100vh - 56px);

    form {
        @include column;
        align-items: center;
        gap: 10px;
        padding: 20px;

        .alert {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 5px;
            justify-content: center;
        }

        button {
            background-color: $aqua;
            padding: 5px 10px;
            border-radius: 5px;

            &:hover {
                background-color: $aqua-hover;
            }

            &:active {
                background-color: $aqua-click;
            }
        }
    }
}