@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: #F4F4F4;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

button,
input {
    border: 0;
}

input {
    background-color: #eeeeee;
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
}

#content {
    padding-inline: 20px;
}

p, form {
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
}