@use 'components/navbar';

@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: #F4F4F4;
    font-family: "Vend Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input {
    padding: 5px 10px;
    background-color: #eeeeee;
    border-radius: 5px;
    width: 100%;
    border: 0;
}

select {
    border-color: transparent;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    width: 100%;
}

p,
h1,
h2 {
    margin: 0;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
}



#content {
    padding-inline: 20px;

    @media (min-width: 768px) {
        padding-inline: 40px;
    }
}