@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: #F4F4F4;
    font-family: "Vend Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul,
button {
    padding: 0;
}

li {
    list-style: none;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

button,
input {
    border: 0;
}

input,
select {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 100%;
}

input {
    padding: 5px 10px;
}

select {
    border-color: transparent;
    padding: 5px;
}

#content {
    padding-inline: 20px;

    @media (min-width: 992px) {
        padding-inline: 80px;
    }
}

p,
form,
h1 {
    margin: 0;
}

button {
    background: transparent;
}