@use 'components/navbar';
@use 'base/base';
@use 'pages/songs/index.scss' as *;
@use 'pages/songs/show.scss' as *;
@use 'pages/albums/index.scss' as *;
@use 'pages/albums/show.scss' as *;
@use 'pages/artists/index.scss' as *;
@use 'pages/artists/show.scss' as *;
@use 'pages/genres/index.scss' as *;
@use 'pages/genres/show.scss' as *;
@use 'pages/home.scss';
@use 'pages/auth/register-login.scss';
@use 'pages/profile.scss';
@use 'pages/dashboard.scss' as *;
@use 'pages/auth/reset-password.scss' as *;

@import "bootstrap-icons/font/bootstrap-icons.css";