    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-right: 10px;
        position: relative;

        #controls {
            display: flex;
            width: 100%;
            gap: 5px;

            .name-container {
                flex: 1;
            }

            #open_filters {
                background-color: #52c7ad;
                border-radius: 5px;
                width: 35px;
                height: 35px;

                .bi-funnel-fill {
                    filter: invert(1);
                }
            }
        }

        #overlay {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 0;
        }

        #filters {
            //position: fixed;
            background-color: white;
            border-radius: 10px;
            inset: 10px;
            z-index: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;

            #filters-header {
                display: flex;
                justify-content: space-between;
                flex-shrink: 0;

                #close_filters {
                    font-size: 20px;
                }
            }

            #filters-body {
                display: flex;
                flex: 1;
                overflow-y: auto;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 10px;

                #selected_genres,
                #selected_artists {
                    display: flex;
                    gap: 5px;
                    margin-top: 7px;
                    height: max-content;
                    flex-wrap: wrap;
                }

                .tag {
                    display: flex;
                    background-color: #52c7ad;
                    color: white;
                    gap: 5px;
                    width: max-content;
                    padding: 4px 8px;
                    border-radius: 5px;
                    white-space: nowrap;

                    .remove_tag {
                        filter: invert(1);
                    }
                }
            }

            #filters-btns {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                padding-top: 3px;
                gap: 5px;
                margin-top: auto;

                #apply {
                    background-color: #52c7ad;
                    color: white;
                }

                #reset {
                    color: #52c7ad;
                    border: 1px solid #52c7ad;
                    text-align: center;
                }

                #apply,
                #reset {
                    border-radius: 5px;
                    padding-block: 4px;
                }

            }
        }
    }