.navbar {
    background-color: #373b3e;
    margin-bottom: 20px;

    .navbar-brand,
    .navbar-nav .nav-link,
    .dropdown-item {
        color: white;
    }

    .dropdown-menu {
        background-color: #50565b;
    }

    .dropdown-item {
        &:hover {
            background-color: #5e656b;
        }
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }
}