#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#genres {
    display: grid;
    gap: 15px;
}

#genre-container {
    width: 400px;
    height: 200px;
    position: relative;
    background-color: gray;
    overflow: hidden;
    border-radius: 10px;
}

#genre-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

#genre-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    text-align: center;
    line-height: 1.2;
    text-transform: lowercase;
    color: white;
}

input {
    background-color: rgb(230, 229, 229);
    padding: 5px 10px;
    border-radius: 5px;
}