@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/cards/card-artist';
@use '/resources/scss/components/title-page';
@use '/resources/scss/components/empty-index';

#page-artists {
    display: grid;
    padding-inline: 30px;
    gap: 20px;

    #switch-type {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        background-color: $gray;
        border-radius: 5px;
        margin-bottom: 10px;

        .type-artist {
            flex: 1;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;
            transition: background-color 0.3s ease, color 0.3s ease;

            &.active {
                background-color: $aqua;
                color: white;

            }
        }
    }

    #artists {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }
}

@media (min-width: 576px) {
    #page-artists {
        #artists {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 768px) {
    #page-artists {
        grid-template-columns: 35% 1fr;

        #artists {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

@media (min-width: 992px) {
    #page-artists {
        padding-inline: 100px;
        grid-template-columns: 30% 1fr;

        #artists {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}