@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/cards/card-song';
@use '/resources/scss/components/cards/card-album';

#page-artist {
    padding: 20px;
    position: relative;

    #info-artist {
        @include background;
        height: fit-content;
        margin-bottom: 30px;

        h3 {
            white-space: normal;
            word-break: break-word;
            margin-top: 5px;
        }

        img {
            border-radius: 5px;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top;
            background-color: white;
            width: 100%;
        }

        #no-img-artist {
            aspect-ratio: 1/1;
            @include center;
            width: 15vw;
            background-color: $gray-border;
            border-radius: 5px;

            .bi-person-fill {
                font-size: 70px;
            }
        }

        #type-artist {
            color: $gray-txt;
            font-weight: 300;
            line-height: 1;
        }

        #btns-artist {
            display: flex;
            margin-bottom: 10px;

            .fav,
            .delete-fav {
                width: 100%;
            }

            #btn-links-artist {
                background-color: $aqua;
                border-color: $aqua;
                border-radius: 5px;
                width: 100%;

                &:hover {
                    background-color: $aqua-hover;
                }

                &:active {
                    background-color: $aqua-click;
                }
            }
        }

        .modal-content {
            background-color: $gray-bg;

            .btn-close {
                filter: invert(1);
            }

            .modal-header {
                padding: 10px 15px 0 15px;
                border-bottom: 0;
            }

            .modal-body {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                gap: 5px;

                a {
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    gap: 5px;
                    border: 1px solid $gray-border;
                    @include elipsis;
                }
            }
        }

        #genres-artist {
            a {
                font-weight: 200;

                &:hover {
                    text-decoration: underline;
                    color: $aqua;
                }
            }
        }
    }

    #works-artist {
        @include column;
        gap: 30px;

        .work-artist {
            display: grid;
            margin-block: 10px;
            gap: 15px;

            a {
                p {
                    margin-top: 5px;
                    @include elipsis;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .ver-mas {
            background-color: $aqua;
            padding: 4px 10px;
            border-radius: 5px;
            display: block;
            margin-left: auto;
            width: fit-content;

            &:hover {
                background-color: $aqua-hover;
            }

            &:active {
                background-color: $aqua-click;
            }
        }
    }
}

@media (min-width: 769px) {
    #page-artist {
        display: flex;
        gap: 15px;
        justify-content: center;

        #info-artist {
            @include column;

            img {
                width: 25vw;
            }

            #btns-artist {
                flex-direction: column;
                width: 100%;

                #btn-links-artist {
                    text-align: center;
                    margin-top: 5px;
                }
            }

            #genres-artist {
                a {

                    &:active {
                        text-decoration: underline;
                        color: $aqua-click;
                    }
                }
            }
        }

        #works-artist {
            .work-artist.songs {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            .work-artist.albums {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}

@media (min-width: 992px) {
    #page-artist {
        padding-inline: 50px;
        display: flex;
        gap: 25px;

        #info-artist {
            img {
                width: 16vw;
            }
        }

        #works-artist {
            .work-artist.songs {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            .work-artist.albums {
                grid-template-columns: repeat(6, minmax(0, 1fr));
            }
        }
    }
}

@media (min-width: 1200px) {
    #page-artist {
        padding-inline: 100px;
    }
}