.alert {
    width: fit-content;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    gap: 10px;
}

.alert-success {
    background-color: #0f5132;
}

.alert-danger {
    background-color: #842029;
}