@mixin btn-fav {
    color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 7px 10px;
    font-size: 1rem;
}

.fav {
    background-color: palevioletred;
    @include btn-fav;

    &:hover {
        background-color: rgb(195, 83, 120);
    }
}

.delete-fav {
    background-color: indianred;
    @include btn-fav;
}