@mixin btn-fav {
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: fit-content;
    padding: 7px;
}

.fav {
    background-color: palevioletred;
    @include btn-fav;

    &:hover {
        background-color: rgb(195, 83, 120);
    }
}

.delete-fav {
    background-color: indianred;
    @include btn-fav;
}