@mixin grid {
    display: grid;
    gap: 20px;
}

@mixin grid-list {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

@mixin img-container {
    background-color: rgb(208, 208, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@mixin no-img {
    color: gray;
    height: 60px;
}