.navbar {
    background-color: black;
    
    .navbar-brand,
    .navbar-nav .nav-link,
    .dropdown-item {
        color: white;
    }

    .navbar-brand {
        font-size: 16px;
    }

    .dropdown-menu {
        background-color: #50565b;
    }

    .dropdown-item {
        &:hover {
            background-color: #5e656b;
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }


    .navbar-toggler-icon {
        filter: invert(1);
        padding: 0;
        font-size: 16px;
    }
}