@use '../abstracts/variables' as *;

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .page-item.active .page-link {
        background-color: $aqua;
        color: white;
        border-color: transparent;
    }

    .page-item.disabled .page-link {
        background-color: #1e1e1e;
    }

    .page-item .page-link {
        background-color: $gray-bg;
        border-color: #1e1e1e;
        color: white;
        font-size: 18px;
        padding-inline: 20px;
        padding-block: 10px;
    }
}