#tag-container {
    display: flex;
    flex-direction: column;

    #input-container {
        position: relative;

        .loading {
            position: absolute;
            right: 12px;
            top: 20%;
            transform: translateY(-50%);
            width: 25px;
            color: gray;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

}