@use '../abstracts/variables' as *;

.title-page {
    padding-inline: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    h1 {
        margin: 0;
        font-weight: 600;
    }
    
    p {
        color: $color
    }
}