.name-container {
    position: relative;
    display: inline-block;

    input {
        width: 100%;
    }

    button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        .bi-search {
            font-size: 18px;
            color: #838383;
        }
    }
}