.pagination {
    display: flex;
    justify-content: center;

    .page-item.active .page-link {
        background-color: #52c7ad;
        color: white;
        border-color: transparent;
    }

    .page-link {
        color: #52c7ad;
    }
}