@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/filters/input-dates';
@use '/resources/scss/components/cards/card-song';
@use '/resources/scss/components/title-page';
@use '/resources/scss/components/empty-index';

#page-songs {
    display: grid;
    padding-inline: 20px;
    gap: 20px;

    #songs {
        display: grid;
        gap: 20px;
    }
}

@media (min-width: 576px) {
    #page-songs {
        #songs {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (min-width: 768px) {
    #page-songs {
        #songs {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 992px) {
    #page-songs {
        padding-inline: 100px;
        grid-template-columns: 30% 1fr;

        #songs {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}