@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/components/filters/form';
@use '/resources/scss/components/filters/input-dates';
@use '/resources/scss/components/filters/tags';
@use '/resources/scss/components/cards/card-song';
@use '/resources/scss/components/title-page';

#page-songs {
    display: grid;
    gap: 20px;
    padding-inline: 20px;

    #songs {
        display: grid;
        gap: 20px;
    }
}

@media (min-width: 576px) {
    #page-songs {
        #songs {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (min-width: 768px) {
    #page-songs {
        #songs {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 992px) {
    #page-songs {
        grid-template-columns: 30% 1fr;

        #songs {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (min-width: 1200px) {
    #page-songs {
        padding-inline: 50px;
        grid-template-columns: 25% 1fr;

        #songs {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}