@use '/resources/scss/components/fav-btn';
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/components/cards/card-artist';

#page-song {
    padding-bottom: 20px;

    a {
        color: $color;

        &:hover {
            text-decoration: underline;
        }
    }

    #video-song {
        aspect-ratio: 16/9;

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    #no-video-song {
        aspect-ratio: 16/9;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-size: 25px;
        border: 1px solid #545454;
        margin: 10px;
        border-radius: 5px;
    }

    #data-song {
        padding: 5px 15px;
        overflow: hidden;

        h1 {
            line-height: 1;
        }

        #artists-song {
            font-weight: 300;
            color: #c7c7c7;
        }

        #type-song {
            font-weight: 400;
            margin-bottom: 8px;
            background-color: $color;
            width: fit-content;
            padding: 6px 8px;
            border-radius: 5px;
        }

        #options-song {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            border-bottom: 1px solid #545454;

            button {
                width: 100%;
                text-align: center;
                padding-bottom: 4px;

                &:hover {
                    background-color: #5454547a;
                }
            }

            #btn-info-song {
                border-bottom: 2px solid $color;
            }
        }

        #info-song,
        #lyrics-song {
            overflow-y: auto;
            padding: 10px;
            height: 35vh;
            margin-bottom: 10px;
            border: 1px solid #545454;
            border-radius: 5px;
            border-top: transparent;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color;
                border-radius: 4px;

                &:hover {
                    background-color: $color-hover;
                }
            }
        }

        #info-song {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                margin: 0;
            }

            p {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            #original-song {
                a {
                    color: $color;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    color: #c7c7c7;
                }
            }

            .credit {
                margin-top: 5px;
            }
        }

        #lyrics-song {
            display: none;
            margin-top: 5px;

            #btns-lyrics-song {
                display: flex;
                width: 100%;
                justify-content: space-around;

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 1px solid #545454;

                    &:hover {
                        background-color: #54545484;
                    }
                }
            }

            .lyric {
                margin-top: 15px;
                display: none;
                background-color: #545454;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }

    #albums-song {
        padding-inline: 10px;

        #covers-albums-song {
            display: flex;
            gap: 5px;
            overflow-x: auto;
            width: 100%;
            flex-direction: row;
            padding-bottom: 5px;

            &::-webkit-scrollbar {
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color;
                border-radius: 2px;

                &:hover {
                    background-color: $color-hover;
                }
            }

            a {
                flex: 0 0 auto;
                height: 18vh;
                display: flex;

                &:hover {
                    opacity: 50%;
                }

                img {
                    background-color: white;
                    border-radius: 5px;
                }

                .no-img-container {
                    aspect-ratio: 1/1;
                    background-color: $gray;
                    border-radius: 5px;
                    padding: 20px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page-song {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 56px);
        position: relative;

        #container-song {
            display: flex;
            gap: 20px;
            position: absolute;
            padding-inline: 50px;
            height: 80vh;

            #video-albums-song {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 45vw;

                #video-song,
                #no-video-song {
                    aspect-ratio: auto;
                    @include background;
                    flex: 1;
                }

                #no-video-song {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                    font-size: 25px;
                }

                #albums-song {
                    @include background;

                    #container-albums {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 10px;

                        .bi-caret-left-fill,
                        .bi-caret-right-fill {
                            font-size: 25px;
                            cursor: pointer;
                        }

                        #covers-albums-song {
                            overflow-x: hidden;

                            a {
                                height: 15vh;
                            }
                        }
                    }

                }
            }

            #data-song {
                @include background;
                width: 40vw;
                padding: 15px 20px;
                display: flex;
                flex-direction: column;

                #info-song,
                #lyrics-song {
                    height: 100%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #page-song {

        #container-song {

            #data-song {
                width: 35vw;
            }
        }
    }
}