@use '/resources/scss/components/fav-btn';
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/components/cards/card-artist';

// Estilos generales
#genres-song {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;

    a {
        background-color: $color;
        color: white;
        padding: 3px 10px;
        border-radius: 5px;
        white-space: nowrap;

        &:hover {
            background-color: #13757a;
        }
    }
}

#info-song {
    p {
        color: rgb(190, 190, 190);
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}


#page-song {
    height: 100vh;
    padding-bottom: 20px;

    #hero {
        position: relative;
        @include center;
        aspect-ratio: 16 / 9;
        border-bottom: 1px solid #5d5d5d;

        #thumbail-song {
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9;
            @include center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: black;
                filter: brightness(0.25) blur(6px);
            }

            #no-img {
                height: 50%;
            }
        }

        #video-song {
            position: absolute;
            inset: 0;
            padding: 15px;

            iframe {
                height: 100%;
                width: 100%;
            }
        }
    }

    #body-song {
        padding-inline: 40px;
        margin-block: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        #credits {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            padding: 0;
            background-color: transparent;

            .card-artist {
                display: flex;
                align-items: flex-start;
                gap: 15px;

                .img-container {
                    width: 16%;

                    img {
                        object-fit: cover;
                        object-position: top;
                        background-color: white;
                    }
                }

                .credit-artist {
                    a {
                        font-weight: 700;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        #albums-song {
            display: flex;
            gap: 5px;
            overflow-x: auto;
            width: 100%;
            flex-direction: row;
            margin-top: 15px;

            a {
                flex: 0 0 auto;
                height: 18vh;
                display: flex;

                img,
                .no-img-container {
                    @include img-full-border;
                }

                img {
                    object-fit: cover;
                }

                .no-img-container {
                    aspect-ratio: 1 / 1;
                    background: $gray;
                    padding: 20px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page-song {
        #body-song {
            #credits {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (min-width: 992px) {

    #page-song {
        position: relative;
        height: 0;

        #hero {
            height: 400px;
            margin-bottom: 20px;
            width: 100%;

            #thumbail-song {
                height: 100%;
            }

            #hero-content {
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                z-index: 1;
                padding-inline: 100px;
                display: flex;
                gap: 20px;
                padding-inline: 50px;

                #video-song {
                    aspect-ratio: 16 / 9;
                    position: static;
                    padding: 0;

                    iframe {
                        width: 500px;
                    }
                }

                #info-song {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        margin: 0;
                    }

                    h5 {
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }

        #body-song {
            padding-inline: 100px;

            #credits {
                grid-template-columns: repeat(3, 1fr);
            }

            #header-albums-song {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                #arrow-right,
                #arrow-left {
                    height: 4vh;
                    cursor: pointer;
                }
            }

            #albums-song {
                gap: 10px;
                overflow-x: hidden;

                img,
                .no-img-container {
                    height: 17vh;
                    border-radius: 5px;

                    &:hover {
                        filter: brightness(0.5);
                    }

                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #page-song {
        #hero {
            #hero-content {
                #video-song {
                    iframe {
                        width: 600px;
                    }
                }
            }
        }
    }
}