@use '/resources/scss/components/fav-btn';
@use '/resources/scss/abstracts/variables' as *;
@use '/resources/scss/abstracts/mixins' as *;
@use '/resources/scss/components/cards/card-artist';

@mixin background {
    background-color: #353535;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px $gray;
}

@media (min-width: 1200px) {
    #page-song {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 56px);
        position: relative;

        #background {
            position: absolute;
            aspect-ratio: 16/9;
            width: 100vw;
            height: 100%;
            filter: blur(15px);
            opacity: 0.8;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        #container-song {
            display: flex;
            gap: 20px;
            position: absolute;
            padding-inline: 100px;
            height: 75vh;

            #video-albums-song {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 40vw;

                #video-song {
                    //aspect-ratio: 16/9;
                    @include background;
                    flex: 1;

                    iframe {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                #albums-song {
                    @include background;

                    #container-albums {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .bi-caret-left-fill,
                        .bi-caret-right-fill {
                            font-size: 25px;
                            cursor: pointer;
                        }

                        #covers-albums-song {
                            display: flex;
                            gap: 5px;
                            overflow-x: hidden;
                            width: 100%;
                            flex-direction: row;

                            a {
                                flex: 0 0 auto;
                                height: 15vh;
                                display: flex;

                                &:hover {
                                    opacity: 50%;
                                }

                                img {
                                    background-color: white;
                                    border-radius: 5px;
                                }

                                .no-img-container {
                                    aspect-ratio: 1/1;
                                    background-color: $gray;
                                    border-radius: 5px;
                                    padding: 20px;
                                }
                            }
                        }
                    }

                }
            }

            #data-song {
                @include background;
                width: 30vw;
                overflow: hidden;
                padding: 15px 20px;

                display: flex;
                flex-direction: column;

                #info-song {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }

                    .credit {
                        margin-top: 5px;

                        h6 {
                            font-weight: 400;
                        }

                        a {
                            color: $color;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    #genres-song {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        margin-top: 5px;

                        a {
                            background-color: $color;
                            color: white;
                            border-radius: 5px;
                            padding: 3px 8px;
                            white-space: nowrap;
                        }
                    }
                }

                #options-song {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-block: 10px;
                    border-bottom: 1px solid #545454;

                    button {
                        width: 100%;
                        text-align: center;
                        padding-bottom: 4px;

                        &:hover {
                            background-color: #5454547a;
                        }
                    }

                    #btn-info-song {
                        border-bottom: 2px solid $color;
                    }
                }

                #info-song,
                #lyrics-song {
                    overflow-y: auto;
                }

                #lyrics-song {
                    display: none;
                    margin-top: 5px;

                    #btns-lyrics-song {
                        display: flex;
                        width: 100%;
                        justify-content: space-around;

                        button {
                            padding: 5px 10px;
                            border-radius: 5px;
                            border: 1px solid #545454;

                            &:hover {
                                background-color: #54545484;
                            }
                        }
                    }

                    .lyric {
                        margin-top: 15px;
                        display: none;
                        background-color: #545454;
                        padding: 10px;
                        border-radius: 5px;
                        margin-inline: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}