@mixin field {
    background-color: #545454;
    border-radius: 5px;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

body {
    background-color: #282828;
    font-family: "Geologica", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

input {
    padding: 5px 10px;
    @include field;
}

select {
    padding: 5px;
    @include field;
}

button {
    background: transparent;
}

p,
h1,
h2,
h3,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

input:focus,
select:focus {
    outline: none;
}

.alert {
    width: fit-content;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    gap: 10px;
}

.alert-success {
    background-color: #0f5132;
}

.alert-danger {
    background-color: #842029;
}

form {
    background-color: #353535;
    border-radius: 10px;

    .error {
        color: red;
        text-align: start;
    }
}