@use './variables' as *;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin img-full-border {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@mixin genres {
    background-color: $aqua;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap;

    &:hover {
        background-color: $aqua-hover;
    }

    &:active {
        background-color: $aqua-click;
    }
}

@mixin background {
    background-color: $gray-bg;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $gray;
}

@mixin elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}