@use './variables' as *;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid-list {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

@mixin img-full-border {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@mixin genres {
    background-color: $color;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap;

    &:hover {
        background-color: $color-hover;
    }

    &:active {
        background-color: $color-click;
    }
}