@use './variables' as *;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin img-full-border {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@mixin genres {
    background-color: $color;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap;

    &:hover {
        background-color: $color-hover;
    }

    &:active {
        background-color: $color-click;
    }
}

@mixin background {
    background-color: #353535;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $gray;
}