#title-page {
    line-height: 1.2;
    margin-bottom: 5px;

    h1 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 15px;
    }
}

#browse {
    // display: flex;

    #songs {
        display: grid;
        gap: 15px;
        width: 100%;
        grid-template-columns: 1fr;
        margin-block: 20px;

        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .img-container {
            width: 100%;
            aspect-ratio: 16 / 9;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }

        .icon-container {
            background-color: rgb(208, 208, 208);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 100%;
            aspect-ratio: 16 / 9;

            .bi-card-image {
                color: gray;
                font-size: 40px;
            }
        }

        .song-data {
            line-height: 1.2;

            .song-title {
                font-size: 18px;
                font-weight: 600;
                color: black;
                margin-top: 10px;
            }

            .song-artists {
                color: rgb(117, 117, 117);
                font-size: 16px;
                margin-top: 3px;
            }
        }
    }
}