#browse {
    // display: flex;

    #songs {
        display: grid;
        gap: 15px;
        width: 100%;
        grid-template-columns: 1fr;
        margin-block: 20px;

        .img-container {
            height: 160px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }

        .icon-container {
            background-color: rgb(208, 208, 208);
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            .bi-card-image {
                color: gray;
                font-size: 40px;
            }
        }

    }

    .tag {
        display: flex;
    }
}